@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
body{
  background-color: #F2F2F2;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


.transition(@duration, @ease) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}


// Trigger 

.clicked{
  animation: event 1.4s;
  .response-layer{
    animation: response 1.6s;
  }
}


@keyframes event {
    0%   {box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);}
    20%  {box-shadow: 0px 9px 14px 0px rgba(50, 50, 50, 0.6);}
    100% {box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);}
}

@keyframes response {
    0%   {}
    16%  { opacity: 1; }
    32%  { opacity: 0; }
    40%  {
      opacity: 0;
      transform: scale(10);
    }
    100% { opacity: 0;}
}

.navbar{
  margin: 0;
  z-index: 1000;
}

.content-page{
  padding-bottom: 100px;
}
div.home-page-header{
  background-color: #4285f4;
  color: #fff;
  padding: 25px 0;
}

nav.navbar.navbar-default {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.events-page-header{
  background: #ff5722;
  width: 100%;
  color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.events-page-header h3{
  margin: 0;
  padding: 40px 0;
  font-size: 50px;
  font-weight: 100;
}

.about-page-header{
  background: #00bcd4;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.about-page-header h3{
  margin: 0;
  padding: 40px 0;
  font-size: 50px;
  font-weight: 100;
}

.contact-page-header{
  background: #9c27b0;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.contact-page-header h3{
  margin: 0;
  padding: 40px 0;
  font-size: 50px;
  font-weight: 100;
}

.subscribe-page-header{
  background: #607d8b;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.subscribe-page-header h3{
  margin: 0;
  padding: 40px 0;
  font-size: 50px;
  font-weight: 100;
}


.event-block {
  padding-top: 20px;
  padding-bottom: 35px;
}

.event-block img{
  width: 100%;
}
.event-body h1{
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  white-space: nowrap;  
  overflow: hidden;
  position: relative;
}
.events-list{
  padding-top: 35px;
}


#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 10; /* Set z-index to 0 as it will be on a layer below the contact form */
}
 
#contactform { 
 box-shadow: 0 2px 5px rgba(0,0,0,.26);
  position: relative; 
  z-index: 10000; /* The z-index should be higher than Google Maps */
 background: #fff;
 margin-top:50px; 
 padding-bottom: 20px;
}

label {
  font-weight: lighter;
}

.contact-form{
  text-align: left;
}
button#submit.btn.btn-success {
  border-color: #673ab7;
  background-color: #673ab7;
  -webkit-appearance: none;
border: 0;
-webkit-font-smoothing: antialiased;
padding: 10px 20px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
text-transform: uppercase;
font-size: 90%;
line-height: 90%;
width: auto !important;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
display: inline-block;
*display: inline;
*zoom: 1;
-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
-moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
}
.header-title{
  padding-top: 40px;
  text-align: left;
  font-size:50px;
  font-weight: 300;
  text-transform: uppercase;
}

.header-description{
  text-align: left;
  font-size: 25px;
  font-weight: 300;
}

.header-subtitle{

  padding: 40px 0;

  font-size:30px;
  font-weight: 900;
  text-transform:capitalize;
}

.whatwedo .col-md-4 img{
width: 100%;

}
.whatwedo {
  text-align: left;
  padding: 30px 0;
}
.whatwedo h4{
  font-size:30px;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 300;
}
.whatwedo p{
  font-size: 20px;
  font-weight: 300;
}
.team{
  padding: 20px 0;
}
.team-person img{
width: 100%;
border-radius:100%; 
}

#dotmap{
  width: 760px;
height: 450px;
margin: 0 auto;
position: relative;
}

#dotmap .node {
width: 16px;
height: 16px;
position: absolute;
background: #eee;
border-radius: 8px;
}

.home-message h3{
  text-transform: none;
  font-weight: 600;
  font-size: 35px;
}
.home-message p{
  font-style: italic;
  font-weight: 300;
  font-size: 25px;
}

.holo{
    /* You can set width to whatever you like */
    width: 100%;
    font-family: "Roboto", "Droid Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 8px 8px 6px 8px;
    position: relative;
    display: block;
    outline: none;
    border: none;
    background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
}
.holo:hover, .holo:focus {
    background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px; 
} 
.social{
padding-top: 20px;
}

div.message {
  position: relative;
  padding: 10px;
  padding-left: 35px;
  margin: 20px 10px;
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  background: #BBB;
  color: #FFF;
  
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
div.message:hover{
  box-shadow: 0 15px 20px rgba(10,0,10,.3);
  -webkit-filter: brightness(110%);
}

div.message:before{
  content: '';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  top: -10px;
  left: -10px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  padding:10px;
  background: inherit;
  box-shadow:0 5px 10px rgba(0,0,0,.25);
  color: rgba(255,255,255,.75);
  border-radius:50%;
  z-index: 2;
  -webkit-box-sizing: none;
   -moz-box-sizing: none;
        box-sizing: none;
}

div.message:after {
    -webkit-box-sizing: none;
   -moz-box-sizing: none;
        box-sizing: none;
}

div.message.information:before{content:'\f129';}
div.message.announcement:before{content:'\f0f3';}
div.message.success:before{content:'\f00c';}
div.message.warning:before{content:'\f12a';}
div.message.error:before{content:'\f00d';}

div.message.information{background: #39B;}
div.message.warning{background: #E74;}
div.message.success{background: #5A6;}
div.message.announcement{background: #EA0;}
div.message.error{background: #C43;}

.material-shadow {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

img {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.material-color-cyan {
  background-color: #00bcd4;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active {
  text-decoration: none;
  background: none;
  border-color: #00bcd4;
  color: #00bcd4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover:hover,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #00bcd4;
}
.navbar-default .navbar-nav > li > a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.footer span{
  color:#D64632;

}
.footer{
  display: block;
  width: 100%;
  float: left;
  z-index: 99999;
  height: 100px;
 
}
