body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.authorize {
}

.authorize a {
  text-decoration: none;
}

.authorize a img {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #eee;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container .photos .photo img {
  max-width: 200px;
  float: left;
}
